#(Django & Server)
Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary==2.9.11
python-dotenv==1.2.2

# API (REST Framework)
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
django-cors-headers
drf-spectacular==0.29.0

# Real-time (Channels & Daphne)
channels==4.3.2
daphne==4.2.1
asgiref==3.11.1

#Тестування та розробка
pytest==9.0.3
pytest-django==4.12.0
Faker==40.12.0
sqlparse==0.5.5
pycryptodome

# Робота з AI
openai
groq
requests
httpx
aiohttp
